.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* font color styles */
.dark-2 {
    color: #474747;
}

/*header*/
.header {
    background-image: url(../images/developer.png ), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* button style */

.button {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 5px;
    border: none;
}


/* nav style */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

#text-primary {
    color: #FD6E0A;
}

/* banner stye*/

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 200px;
}

.banner-content {
    max-width: 500px;
}

.banner-greetings {
    font-size: 45;
    font-weight: 500;
    color: #474747
}

.banner-title {
    font-size: 85;
    font-weight: bold;
    color: black;
}

.banner-profile-pic {
    width: 500px;
}